header {
    height: 95px;
}

main {
    display: grid;
    height: 90vh;
    grid-template-columns: 150px 1fr;
}

.dashboardContainer {
    padding: 50px 150px;
    display: grid;
    grid-template-rows: 160px 1fr;
}