#root{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    height: 10%;
}

main {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.sportNav {
    width: 150px;
}

.dashboardContainer {
    padding: 30px 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
