.nutrientValue {
    width: 100px;
}

.nutrientValue p:nth-child(1) {
    font-size: 22px ;
    font-weight: 700;
    margin-bottom: 5px;
}

.nutrientValue p:nth-child(2) {
    
    color: rgb(92, 92, 92);
}
/* 
@media screen and (max-width: 1345px) {
    .nutrientValue p:nth-child(1) {
        font-size: 12px ;
    }

    .nutrientValue p:nth-child(2) {
        font-size: 12px ;
    }

} */

@media screen and (min-width: 1024px) and (max-width: 1660px) {
    .nutrientValue p:nth-child(1) {
        font-size: 16px ;
    }

    .nutrientValue p:nth-child(2) {
        font-size: 14px ;
    }

}