.barchart {
    background-color: #FBFBFB;
    width: 97.5%;
    height: 50%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 50px;
    border-radius: 5px;
}

.barchart h2 {
    position: absolute;
    top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.barChart-custom-tooltip {
    background-color: #E60000;
    color: white;
    padding: 10px;
    font-size: 10px;
    margin-left: 10px;
}

.barChart-custom-tooltip p {
    padding: 10px 0;
}

@media screen and (max-height: 950px) {
    .barchart {
        height: 40%;
    }
}

@media screen and (max-height: 860px) {
    .barchart {
        height: 32%;
    }
}